.footer {
    background-color: $color-primary;
    width: 100%;
    height: 244px; /* provicional */
    display: flex;
    justify-content: center;
    align-items: center;
    @include medium {
        height: 216px;
    }
    @include small {
        height: 336px;
    }
    .footer-container {
        width: 78%;
        height: 84px;
        display: flex;
        @include medium {
            width: 89.71%;
            height: 104px;
        }
        @include small {
            flex-direction: column;
            width: 84%;
            height: 240px;
        }
        .footer-container__logo {
            width: 14.41%;
            height: 58px;
            margin-right: 12.61%;
            @include medium {
                width: 16%;
                margin-right: 10%;
            }
            @include small {
                width: 100%;
                margin-bottom: 12%;
                margin-right: 0;
            }
            img {
                width: 100%;
            }
        }
        .footer-container__paragraph {
            width: 38.74%;
            height: 84px;
            color: #fff;
            margin-right: 25.23%;
            @include medium {
                width: 42%;
                margin-right: 18%;
            }
            @include small {
                width: 100%;
                margin-bottom: 12%;
                margin-right: 0;
            }
            p {
                font-size: 18px;
                font-family: 'Outfit', sans-serif;
                font-weight: 300;
                line-height: 28px;
                @include medium {
                    font-size: 16px;
                    line-height: 26px;
                }
                @include small {
                    line-height: 20px;
                }
            }
        }
        .footer-container__social {
            display: flex;
            width: 9.01%;
            /* justify-content: space-between; */
            align-items: flex-start;
            @include medium {
                width: 14%;
            }
            @include small {
                width: 100%;
            }
            .social {
                display: inline-block;
                width: 20px;
                height: 20px;
                color: #fff;
                
                &:not(:last-child) {
                    margin-right: 20%;
                    @include small {
                        margin-right: 20px;
                    }
                }
                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }
}

.footer__gold {
    background-color: $secondary-color;
    width: 100%;
    height: 244px; /* provicional */
    display: flex;
    justify-content: center;
    align-items: center;
    @include medium {
        height: 216px;
    }
    @include small {
        height: 336px;
    }
    .footer-container {
        width: 77%;
        height: 84px;
        display: flex;
        @include medium {
            width: 89.71%;
            height: 104px;
        }
        @include small {
            flex-direction: column;
            width: 84%;
            height: 240px;
        }
        .footer-container__logo {
            width: 14.41%;
            height: 58px;
            margin-right: 12.61%;
            @include medium {
                width: 16%;
                margin-right: 10%;
            }
            @include small {
                width: 100%;
                margin-bottom: 12%;
                margin-right: 0;
            }
            img {
                width: 100%;
            }
        }
        .footer-container__paragraph {
            width: 38.74%;
            height: 84px;
            color: $color-primary;
            margin-right: 25.23%;
            @include medium {
                width: 42%;
                margin-right: 18%;
            }
            @include small {
                width: 100%;
                margin-bottom: 12%;
                margin-right: 0;
            }
            p {
                font-size: 18px;
                font-family: 'Outfit', sans-serif;
                font-weight: 300;
                line-height: 28px;
                @include medium {
                    font-size: 16px;
                    line-height: 26px;
                }
                @include small {
                    line-height: 20px;
                }
            }
        }
        .footer-container__social {
            display: flex;
            width: 9.01%;
            /* justify-content: space-between; */
            align-items: flex-start;
            @include medium {
                width: 14%;
            }
            @include small {
                width: 100%;
            }
            .social {
                display: inline-block;
                width: 20px;
                height: 20px;
                color: $color-primary;
                
                &:not(:last-child) {
                    margin-right: 20%;
                    @include small {
                        margin-right: 20px;
                    }
                }
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}
