@mixin flexbox-utils($display, $align, $justify) {
    display: $display;
    align-items: $align;
    justify-content: $justify;
}

@mixin style-font($font, $letter, $weight, $color) {
    font-size: $font;
    letter-spacing: $letter;
    font-weight: $weight;
    color: $color;
}

@mixin style-letter($font, $height, $weight, $color) {
    font-size: $font;
    line-height: $height;
    font-weight: $weight;
    color: $color;
}

@mixin bg-style($bg-repeat, $bg-position, $bg-size) {
    background-repeat: $bg-repeat;
    background-position: $bg-position;
    background-size: $bg-size;
}