/* -------------- COLORS --------------- */
$color-primary: #151515;
$secondary-color: #D5966C;
$text-color: #444444;




/* $background-color
$link-color
$neutral-color */
/* 900 - Big Shoulders Display
800 - Big Shoulders Display
300 - Outfit */

